doctype html 
html
    head 
        title Natours | #{tour}
        link(rel='stylesheet', href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
 
    body 
        h1= tour
        h2= user.toUpperCase()
        // The park camper (will show in html)
        //- h1 The Park Campers (will not show in html)

        -const x =3 ;
        h2= x*3
        p This is just some random text